In [180]:
# #!/bin/bash
# !curl -L -o ./credit-score-classification.zip\
#   https://www.kaggle.com/api/v1/datasets/download/parisrohan/credit-score-classification

In [181]:
import pandas as pd
from typing import Optional
from IPython.utils import io
from IPython.display import display

In [182]:
file_name = "train_raw.csv"
df = pd.read_csv(file_name)

/tmp/ipykernel_30383/4186681340.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name)

In [183]:
column_idx_with_issue = 26
column_name = df.columns[column_idx_with_issue]
column_name

'Monthly_Balance'

In [184]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [185]:
# create boolean mask of rows where the value is a Python string
mask = df[column_name].map(lambda x: isinstance(x, str))
df.loc[mask, column_name].head(5)

0    312.49408867943663
1    284.62916249607184
2     331.2098628537912
3    223.45130972736786
4    341.48923103222177
Name: Monthly_Balance, dtype: object

Find rows that cannot be parsed as numeric (useful if column should be numeric):

In [186]:
# re-read that column as strings to see raw values
raw = pd.read_csv(file_name, dtype=str, usecols=[column_name])
raw_vals = raw[column_name].dropna().head(200)
raw_vals.head(50)
# find values containing non-digit characters (excluding dot/minus)
import re
pattern = r'[^0-9\.\-]'
raw.loc[raw[column_name].str.contains(pattern, na=False), column_name].value_counts().head(50)

Monthly_Balance
__-333333333333333333333333333__    9
Name: count, dtype: int64

In [187]:
# value you found
bad_val = "__-333333333333333333333333333__"

# find how many and which row indices
mask = df[column_name] == bad_val
print("count:", mask.sum())
print("indices:", df.loc[mask].index.tolist())

# show the full rows for context
df.loc[mask].head(10)

count: 9
indices: [5545, 26177, 29158, 35570, 38622, 60009, 75251, 82918, 83255]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
5545,0x367f,CUS_0x9885,February,Paul Dayl,17,186-49-9679,Developer,41086.4,3660.866667,3,...,Standard,113.98,34.826541,11 Years and 6 Months,Yes,145.544320,201.1429928919469,Low_spent_Medium_value_payments,__-333333333333333333333333333__,Standard
26177,0xaf63,CUS_0x5a90,February,Scuffhamq,45,264-53-1943,Engineer,29728.31,2551.359167,3,...,Good,917.0,38.198076,31 Years and 9 Months,No,34.496445,198.6115126951797,Low_spent_Large_value_payments,__-333333333333333333333333333__,Good
29158,0xc0d8,CUS_0x288d,July,Selamk,55,970-19-8342,Lawyer,30748.93,2572.410833,1,...,Good,860.97,40.634250,19 Years and 5 Months,No,43.727774,79.07180674947499,High_spent_Small_value_payments,__-333333333333333333333333333__,Standard
35570,0xe66c,CUS_0x85e9,March,Anna Driveri,45,288-62-7562,_______,20929.295_,1704.107917,5,...,_,858.09,33.943626,21 Years and 7 Months,No,13798.000000,220.30455197823662,Low_spent_Small_value_payments,__-333333333333333333333333333__,Standard
38622,0xf84c,CUS_0x2b77,July,Longstretho,21,006-36-0111,Doctor,15167.62,1471.968333,4,...,Good,847.03,28.541848,NaN,NM,9.930809,128.87587207680795,Low_spent_Small_value_payments,__-333333333333333333333333333__,Standard
60009,0x1759f,CUS_0xc06e,February,radenp,30,046-72-5387,Journalist,92114.68,7811.223333,3,...,Standard,820.52,39.089475,20 Years and 10 Months,Yes,54.219664,NaN,High_spent_Large_value_payments,__-333333333333333333333333333__,Standard
75251,0x1ceed,CUS_0x57f3,April,Kristen Haysq,29,577-85-0830,Mechanic,60904.59,NaN,3,...,Standard,2441.47,29.878716,12 Years and 11 Months,Yes,61.525140,394.8939566733383,Low_spent_Small_value_payments,__-333333333333333333333333333__,Standard
82918,0x1fbd8,CUS_0x41bf,July,Doeringq,44,693-64-7611,Journalist,61990.52,4900.876667,10,...,Bad,3618.91,37.718591,13 Years and 8 Months,NM,355.143396,194.28348839148083,Low_spent_Small_value_payments,__-333333333333333333333333333__,Standard
83255,0x1fdd1,CUS_0x2f7e,August,Sabina Zawadzkif,31,109-48-2095,Doctor,126353.04,10635.420000,4,...,_,859.77,28.442867,31 Years and 9 Months,No,167.043910,549.7661392945339,Low_spent_Medium_value_payments,__-333333333333333333333333333__,Poor

In [188]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB
None

In [189]:
import pandas as pd

# Example schema
dtypes = {
    "Customer_ID": "string",
    "Month": "string",
    "Name": "string",
    "Age": "float64",
    "SSN": "string",
    "Occupation": "string",
    "Annual_Income": "float64",
    "Monthly_Inhand_Salary": "float64",
    "Num_Bank_Accounts": "int",
    "Num_Credit_Card": "int",
    "Interest_Rate": "float64",
    "Num_of_Loan": "int",
    "Type_of_Loan": "string",
    "Delay_from_due_date": "int",
    "Num_of_Delayed_Payment": "int",
    "Changed_Credit_Limit": "float64",
    "Num_Credit_Inquiries": "float64",
    "Credit_Mix": "string",
    "Outstanding_Debt": "float64",
    "Credit_Utilization_Ratio": "float64",
    "Credit_History_Age": "string",
    "Payment_of_Min_Amount": "string",
    "Total_EMI_per_month": "float64",
    "Amount_invested_monthly": "float64",
    "Payment_Behaviour": "string",
    "Monthly_Balance": "float64",
    "Credit_Score": "string"
}

# Read raw CSV
df = pd.read_csv(file_name)

# Apply schema with coercion
for col, typ in dtypes.items():
    if typ.startswith("float") or typ.startswith("int"):
        df[col] = pd.to_numeric(df[col], errors="coerce")  # invalid -> NaN
    elif typ == "string":
        df[col] = df[col].astype("string").replace(r"^\s*$", pd.NA, regex=True)

/tmp/ipykernel_30383/3223048264.py:35: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name)

In [190]:
df[::40005].T

,0,40005,80010
ID,0x1602,0x10067,0x1ead0
Customer_ID,CUS_0xd40,CUS_0x41be,CUS_0x7d5e
Month,January,June,March
Name,Aaron Maashoh,Selyukha,<NA>
Age,23.0,35.0,19.0
SSN,821-00-0265,700-01-5042,063-39-1383
Occupation,Scientist,Musician,Journalist
Annual_Income,19114.12,NaN,NaN
Monthly_Inhand_Salary,1824.843333,6093.61,2409.553333
Num_Bank_Accounts,3,7,6
Num_Credit_Card,4,3,6
Interest_Rate,3,10,9
Num_of_Loan,4.0,2.0,-100.0
Type_of_Loan,"Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, and Personal Loan","Credit-Builder Loan, Credit-Builder Loan, Stud..."
Delay_from_due_date,3,27,28
Num_of_Delayed_Payment,7.0,13.0,11.0
Changed_Credit_Limit,11.27,7.66,13.52
Num_Credit_Inquiries,4.0,4.0,8.0
Credit_Mix,_,Standard,Standard
Outstanding_Debt,809.98,1019.44,829.49
Credit_Utilization_Ratio,26.82262,31.648802,35.943987
Credit_History_Age,22 Years and 1 Months,18 Years and 7 Months,18 Years and 0 Months
Payment_of_Min_Amount,No,Yes,Yes
Total_EMI_per_month,49.574949,104.01673,94.461908
Amount_invested_monthly,80.415295,265.731733,113.432001
Payment_Behaviour,High_spent_Small_value_payments,Low_spent_Small_value_payments,High_spent_Small_value_payments
Monthly_Balance,312.494089,529.612537,293.061425
Credit_Score,Good,Standard,Standard

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  string
 2   Month                     100000 non-null  string
 3   Name                      90015 non-null   string
 4   Age                       95061 non-null   float64
 5   SSN                       100000 non-null  string
 6   Occupation                100000 non-null  string
 7   Annual_Income             93020 non-null   float64
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               95215 non-null   float64
 13  Type_of_Loan              88592 non-null   string
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    90254 non-null   float64
 16  Changed_Credit_Limit      97909 non-null   float64
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  string
 19  Outstanding_Debt          98991 non-null   float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   string
 22  Payment_of_Min_Amount     100000 non-null  string
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   91216 non-null   float64
 25  Payment_Behaviour         100000 non-null  string
 26  Monthly_Balance           98791 non-null   float64
 27  Credit_Score              100000 non-null  string
dtypes: float64(12), int64(4), object(1), string(11)
memory usage: 21.4+ MB

In [192]:
df[::10000]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.120,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
10000,0x509a,CUS_0x229f,January,all Davidt,45.0,547-53-2472,_______,20261.850,1598.487500,7,...,Bad,1300.71,34.779107,14 Years and 2 Months,Yes,96.409635,124.514960,Low_spent_Small_value_payments,228.924155,Poor
20000,0x8b32,CUS_0x10c0,January,Scheyderx,38.0,658-53-1756,Architect,49454.130,4328.177500,8,...,Bad,1388.56,34.322164,12 Years and 9 Months,Yes,73.346359,304.051202,!@9#%8,345.420189,Standard
30000,0xc5ca,CUS_0x236b,January,Martinneo,25.0,575-63-7039,Manager,18393.510,1742.792500,9,...,_,2604.09,29.119227,4 Years and 3 Months,Yes,62.204931,233.032353,Low_spent_Small_value_payments,169.041966,Standard
40000,0x10062,CUS_0x41be,January,Selyukha,35.0,700-01-5042,Musician,72583.320,6093.610000,7,...,Standard,1019.44,37.220639,18 Years and 2 Months,Yes,104.016730,334.484535,Low_spent_Medium_value_payments,450.859735,Standard
50000,0x13afa,CUS_0x2646,January,ewich Billk,45.0,261-90-8736,Journalist,7807.285,606.607083,4,...,Standard,692.63,26.650258,<NA>,Yes,7.771075,31.082811,Low_spent_Small_value_payments,311.806822,Standard
60000,0x17592,CUS_0xa505,January,Jonathan Stempelz,41.0,959-35-8150,Engineer,34899.220,2764.268333,10,...,Standard,2103.76,30.962745,7 Years and 8 Months,Yes,78.967677,110.466661,Low_spent_Small_value_payments,376.992495,Poor
70000,0x1b02a,CUS_0x1d1b,January,Araxiac,20.0,#F%$D@*&8,Manager,152574.760,12547.563333,2,...,Good,NaN,38.632872,20 Years and 1 Months,No,205.484843,974.560691,Low_spent_Small_value_payments,364.710799,Standard
80000,0x1eac2,CUS_0x9df0,January,Timk,1642.0,846-31-4164,Entrepreneur,36115.920,2716.660000,0,...,_,886.95,27.797266,22 Years and 9 Months,No,78.052255,96.001442,High_spent_Small_value_payments,357.612303,Good
90000,0x2255a,CUS_0x3787,January,Kajimotoz,52.0,986-71-6476,Engineer,21270.790,1485.565833,6,...,Standard,782.15,39.263213,16 Years and 9 Months,Yes,48.481182,63.795843,High_spent_Small_value_payments,296.279558,Standard

### Convert column names to lower case

In [193]:
df.columns = df.columns.str.lower()

### Display unique values to analyze data

In [194]:
from IPython.display import display
def display_column_unique_values():
    for col in df.columns:
        print(f"Column Name: {col}, Unique count: {df[col].nunique()}")
        print(df[col].unique())
        print("-" * 20)

In [195]:
with io.capture_output() as captured:
    display_column_unique_values()

captured_output_text = captured.stdout
captured_output_text

"Column Name: id, Unique count: 100000\n['0x1602' '0x1603' '0x1604' ... '0x25feb' '0x25fec' '0x25fed']\n--------------------\nColumn Name: customer_id, Unique count: 12500\n<StringArray>\n[ 'CUS_0xd40', 'CUS_0x21b1', 'CUS_0x2dbc', 'CUS_0xb891', 'CUS_0x1cdb',\n 'CUS_0x95ee', 'CUS_0x284a', 'CUS_0x5407', 'CUS_0x4157', 'CUS_0xba08',\n ...\n 'CUS_0x2654', 'CUS_0xb11c', 'CUS_0xad4f', 'CUS_0x51b3', 'CUS_0x2084',\n 'CUS_0x372c',  'CUS_0xf16', 'CUS_0xaf61', 'CUS_0x8600', 'CUS_0x942c']\nLength: 12500, dtype: string\n--------------------\nColumn Name: month, Unique count: 8\n<StringArray>\n['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August']\nLength: 8, dtype: string\n--------------------\nColumn Name: name, Unique count: 10139\n<StringArray>\n[   'Aaron Maashoh',               <NA>,  'Rick Rothackerj',\n           'Langep',           'Jasond',           'Deepaa',\n               'Np',           'Nadiaq',             'Annk',\n     'Charlie Zhur',\n ...\n  'Rick Rothackeru',          'Lauriay',            'Xolai',\n 'Yantoultra Nguif',  'Charles Abbotta',   'Yinka Adegokej',\n 'Sabina Zawadzkig',   'Chris Wickhamm',   'Sarah McBridec',\n            'Nicks']\nLength: 10140, dtype: string\n--------------------\nColumn Name: age, Unique count: 1661\n[  23. -500.   nan ... 6476. 2263. 1342.]\n--------------------\nColumn Name: ssn, Unique count: 12501\n<StringArray>\n['821-00-0265',   '#F%$D@*&8', '004-07-5839', '486-85-3974', '072-31-6145',\n '615-06-7821', '612-70-8987', '411-51-0676', '500-92-6408', '070-19-1622',\n ...\n '647-67-8889', '546-94-4789', '226-45-0652', '837-85-9800', '253-72-7758',\n '340-85-7301', '868-70-2218', '133-16-7738', '031-35-0942', '078-73-5990']\nLength: 12501, dtype: string\n--------------------\nColumn Name: occupation, Unique count: 16\n<StringArray>\n[    'Scientist',       '_______',       'Teacher',      'Engineer',\n  'Entrepreneur',     'Developer',        'Lawyer', 'Media_Manager',\n        'Doctor',    'Journalist',       'Manager',    'Accountant',\n      'Musician',      'Mechanic',        'Writer',     'Architect']\nLength: 16, dtype: string\n--------------------\nColumn Name: annual_income, Unique count: 13437\n[19114.12 34847.84      nan ... 37188.1  20002.88 39628.99]\n--------------------\nColumn Name: monthly_inhand_salary, Unique count: 13235\n[1824.84333333           nan 3037.98666667 ... 3097.00833333 1929.90666667\n 3359.41583333]\n--------------------\nColumn Name: num_bank_accounts, Unique count: 943\n[   3    2    1    7    4    0    8    5    6    9   10 1414 1231   67\n  572 1488   91  528 1647 1696 1338  649  889 1668  685  857  975 1496\n 1534 1620   37 1388 1429 1332 1588  120 1777 1096  803  494  744 1139\n  831 1613  741  121  665 1748 1644  823 1356 1651   87  711  450  210\n 1671 1722  648  672 1662 1495  510  666  429 1131 1434  980 1026  526\n  718 1300 1312 1315  501 1566  480 1042  322  628 1016  333 1265  791\n  427  563  905 1190 1036 1611   38  619  555 1769  280  752 1201  812\n 1487  222  212 1019 1222  610 1714 1308  525 1158 1115 1616  754 1601\n  797 1577  521  703  933  959  809 1089 1656 1113 1715  964 1533 1789\n  871  434 1295  565 1724  603  677  541  698 1101  464 1539 1462 1011\n 1257 1727   45  244 1266  897  535  484  331  675  826  946 1675  105\n 1327  845  549  473  710  527  908   68 1628  371  445 1168  868  687\n  455 1003   26 1526  618  598  351 1342 1783  683 1557 1335  416 1747\n  137 1475  373  338  942  170  973 1605 1478  386 1448 1033 1225  596\n 1731 1214 1481 1105  580  347  108  148 1001 1467 1114 1000  632  246\n 1032 1394  689  482 1303  720  574  588 1358  650  708  179  844 1140\n  335   60  732 1494 1436  820   28 1576  818  794  731  534  556  691\n 1197 1155 1255 1763  769 1124  819  318 1418  882   61  264  194 1798\n  611  840  505 1110  719 1065  195  584  550 1014 1022  903  976   31\n  417 1423 1148  616  786 1424   55 1061 1293  342   43 1540  488 1122\n 1274 1075  722 1268   41  814 1564 1390 1141  497  224 1135  441  374\n   74  314 1408  475 1015  681 1236   59 1425 1637 1240  299 1657 1123\n 1091 1264 1561 1632 1562  305 1318 1217 1699 1070  864 1391  112  860\n  595  229 1624 1051  821 1794 1565  397 1368 1353  508 1725 1413 1239\n  847 1317  570   -1  302  456  198  122  832  167 1547 1666 1241  275\n  566 1779  201  334 1169  834 1174 1040  530 1676 1468 1093  706  489\n 1592  688  830 1784 1543 1600 1178  228  483 1501  950  548  870 1211\n  604  804  129  540 1702 1636 1680 1443 1252  499  180  702  885 1652\n  795  938  833 1654 1793  303 1621 1516 1138   32  160 1491   83  423\n  928  339  931  243 1756  583 1695  274  955  430 1247  490  726  987\n   42 1626 1470 1739  887  211  385 1221  753  324  406 1677 1567  785\n  182 1079  184 1771 1048 1069  561  589 1634   70 1371  647 1153  239\n  801 1279 1287  425 1589  929 1511 1765 1047 1005 1337  981 1766  805\n 1574 1638  186   99  288 1650  974  996 1595 1594  865  203 1440  448\n  285   94  875  916 1733  240  330   79   82  135 1043  142 1235 1569\n 1741 1461  560 1551  409  418 1017  892  354  124  935  313 1363  232\n 1200 1184 1432 1479 1407 1080 1719 1024  970  761  158  312 1060  684\n  696 1520 1352 1502  936  485  350 1560 1166 1013   34 1691  715 1570\n 1751 1503 1194 1558  411  298  260  308  796 1442  912 1256  746  435\n  620 1774 1181 1323  837  307 1430   53 1447  259  921  328 1034  353\n  822  654  829  609  166  136  172 1306 1028  808  270 1072  514  156\n 1331 1630  462 1310 1210  265   50 1355  394 1393  226  991  368 1018\n 1037  627 1744  523  894  944 1730 1076 1094 1617  449  678 1164   30\n  817 1568  607  709 1230  606 1480   29 1522 1670   49  626 1641 1712\n 1370 1782  119 1137 1277   35  947  851 1041 1583 1536  575  196  143\n   33  383   57  621  230  162  352 1504 1250   39  511 1364  918 1665\n  734 1320  316  771  705 1435  304  116 1553  424  493 1530 1195 1604\n  624 1599  782 1606 1622 1285  657 1275 1291 1402  420  932  468  442\n 1145   93 1218  283  292  927 1711 1422  364 1398  594  789 1350  676\n  216 1012 1426  717 1095 1786  850  777  375  356  701 1325  290 1775\n  467 1365 1549  848 1453   84 1458  888  770 1591  582   40 1261 1764\n 1067  145  471  476 1128  967  622  641  539  858  295 1395 1517 1297\n 1126  926  157 1377  993  125  340  271 1669  272  979  707  564  997\n  447 1578 1465  415  714 1276   18 1316  587  245  446  978 1002 1631\n  341 1307  524 1267  103  242 1378 1328 1294 1309  724  197  999  547\n 1100 1456   77 1506 1472  460   11 1420  218 1253  392  670 1321  100\n 1205  443   92  811  774  159 1770  972 1157 1102  217  358 1473  440\n  140 1361  481  512 1117  300 1263 1581  901 1298  310  637  758 1734\n 1288  326 1678 1444 1344 1379  828  982  104  317 1529 1627  115  645\n 1404  940 1305 1049 1645 1466  175 1165 1419 1031  581 1580  854  725\n 1655 1134  569 1387 1381 1760  360 1735 1146 1411  969 1281  591  327\n  466  667  147  109  784 1396 1349  839 1284  802   97  281 1382 1039\n 1483  376 1249 1207 1213 1219 1345 1523  949 1063  983  886 1151  992\n 1107 1314  151   69 1489  695  738  444 1525  825  506  518 1077 1354\n  713  690  861 1389  968  421  907  205  856   72  651  161  867  971\n 1078   64 1701  546 1216   27 1709  193 1528  957  577  346 1416  396\n 1182  652 1083 1778  680 1754 1544 1703  636  472  453  463   75  756\n  296  891  813  474  697]\n--------------------\nColumn Name: num_credit_card, Unique count: 1179\n[   4 1385    5 ...  955 1430  679]\n--------------------\nColumn Name: interest_rate, Unique count: 1750\n[   3    6    8 ... 1347  387 5729]\n--------------------\nColumn Name: num_of_loan, Unique count: 399\n[ 4.000e+00  1.000e+00  3.000e+00  9.670e+02 -1.000e+02  0.000e+00\n        nan  2.000e+00  7.000e+00  5.000e+00  6.000e+00  8.000e+00\n  9.000e+00  1.464e+03  6.220e+02  3.520e+02  4.720e+02  1.017e+03\n  9.450e+02  1.460e+02  5.630e+02  3.410e+02  4.440e+02  7.200e+02\n  1.485e+03  4.900e+01  7.370e+02  1.106e+03  4.660e+02  7.280e+02\n  3.130e+02  8.430e+02  6.170e+02  1.190e+02  6.630e+02  6.400e+02\n  1.019e+03  5.010e+02  1.302e+03  3.900e+01  7.160e+02  8.480e+02\n  9.310e+02  1.214e+03  1.860e+02  4.240e+02  1.001e+03  1.110e+03\n  1.152e+03  4.570e+02  1.433e+03  1.187e+03  5.200e+01  1.480e+03\n  1.047e+03  1.035e+03  3.300e+01  1.930e+02  6.990e+02  3.290e+02\n  1.451e+03  4.840e+02  1.320e+02  6.490e+02  9.950e+02  5.450e+02\n  6.840e+02  1.135e+03  1.094e+03  1.204e+03  6.540e+02  5.800e+01\n  3.480e+02  6.140e+02  1.363e+03  3.230e+02  1.406e+03  1.348e+03\n  4.300e+02  1.530e+02  1.461e+03  9.050e+02  1.312e+03  1.424e+03\n  1.154e+03  9.500e+01  1.353e+03  1.228e+03  8.190e+02  1.006e+03\n  7.950e+02  3.590e+02  1.209e+03  5.900e+02  6.960e+02  1.465e+03\n  9.110e+02  1.181e+03  7.000e+01  8.160e+02  1.369e+03  1.430e+02\n  1.416e+03  4.550e+02  5.500e+01  1.096e+03  1.474e+03  4.200e+02\n  1.131e+03  9.040e+02  8.900e+01  1.259e+03  5.270e+02  1.241e+03\n  4.490e+02  9.830e+02  4.180e+02  3.190e+02  2.300e+01  2.380e+02\n  6.380e+02  1.380e+02  2.800e+02  1.070e+03  1.484e+03  2.740e+02\n  4.940e+02  4.040e+02  1.354e+03  1.495e+03  1.391e+03  6.010e+02\n  1.313e+03  1.319e+03  8.980e+02  2.310e+02  7.520e+02  1.740e+02\n  9.610e+02  1.046e+03  8.340e+02  2.840e+02  4.380e+02  2.880e+02\n  1.463e+03  1.151e+03  7.190e+02  1.980e+02  1.015e+03  8.550e+02\n  8.410e+02  3.920e+02  1.444e+03  1.030e+02  7.450e+02  1.720e+02\n  2.520e+02  2.410e+02  3.100e+01  4.050e+02  1.217e+03  1.030e+03\n  1.257e+03  1.370e+02  1.570e+02  1.640e+02  1.088e+03  1.236e+03\n  7.770e+02  1.048e+03  6.130e+02  3.300e+02  1.439e+03  3.210e+02\n  6.610e+02  9.520e+02  9.390e+02  5.620e+02  1.202e+03  3.020e+02\n  9.430e+02  3.940e+02  9.550e+02  1.318e+03  9.360e+02  7.810e+02\n  1.000e+02  1.329e+03  1.365e+03  8.600e+02  2.170e+02  1.910e+02\n  3.200e+01  2.820e+02  3.510e+02  1.387e+03  7.570e+02  4.160e+02\n  8.330e+02  2.920e+02  1.227e+03  6.390e+02  8.590e+02  2.430e+02\n  2.670e+02  5.100e+02  3.320e+02  9.960e+02  5.970e+02  3.110e+02\n  4.920e+02  8.200e+02  3.360e+02  1.230e+02  5.400e+02  1.441e+03\n  8.950e+02  8.910e+02  5.000e+01  9.400e+02  9.350e+02  5.960e+02\n  2.900e+01  1.182e+03  1.014e+03  2.510e+02  3.650e+02  2.910e+02\n  1.447e+03  7.420e+02  1.085e+03  1.480e+02  4.620e+02  8.320e+02\n  8.810e+02  1.225e+03  1.412e+03  1.127e+03  9.100e+02  5.380e+02\n  9.990e+02  7.330e+02  1.010e+02  2.370e+02  8.700e+01  6.590e+02\n  6.330e+02  3.870e+02  4.470e+02  6.290e+02  8.310e+02  1.384e+03\n  7.730e+02  6.210e+02  1.419e+03  2.890e+02  2.850e+02  1.393e+03\n  1.359e+03  1.482e+03  1.189e+03  1.294e+03  2.010e+02  5.790e+02\n  8.140e+02  1.410e+02  1.320e+03  5.810e+02  2.950e+02  2.900e+02\n  4.330e+02  6.790e+02  1.040e+03  1.054e+03  1.430e+03  1.023e+03\n  1.077e+03  1.457e+03  1.150e+03  7.010e+02  1.382e+03  8.890e+02\n  4.370e+02  3.720e+02  1.222e+03  1.260e+02  1.159e+03  8.680e+02\n  1.900e+01  1.297e+03  1.900e+02  8.090e+02  1.216e+03  1.074e+03\n  5.710e+02  5.200e+02  1.274e+03  1.340e+03  9.910e+02  3.160e+02\n  6.970e+02  9.260e+02  8.730e+02  1.002e+03  6.500e+01  8.750e+02\n  8.670e+02  5.480e+02  6.520e+02  1.372e+03  6.060e+02  1.036e+03\n  1.300e+03  1.700e+01  1.178e+03  8.020e+02  1.271e+03  1.137e+03\n  1.496e+03  4.390e+02  1.960e+02  6.360e+02  1.920e+02  2.280e+02\n  1.053e+03  2.290e+02  7.530e+02  1.296e+03  1.371e+03  2.540e+02\n  8.630e+02  4.640e+02  5.150e+02  8.380e+02  1.160e+03  1.289e+03\n  1.298e+03  7.990e+02  1.820e+02  5.740e+02  2.420e+02  4.150e+02\n  8.690e+02  9.580e+02  5.400e+01  1.265e+03  6.560e+02  2.750e+02\n  7.780e+02  2.080e+02  1.470e+02  3.500e+02  5.070e+02  4.630e+02\n  4.970e+02  1.129e+03  9.270e+02  6.530e+02  6.620e+02  5.290e+02\n  6.350e+02  8.970e+02  1.039e+03  2.270e+02  1.345e+03  9.240e+02\n  1.279e+03  5.460e+02  1.112e+03  1.210e+03  5.260e+02  3.000e+02\n  1.103e+03  5.040e+02  1.360e+02  1.400e+03  7.800e+01  6.860e+02\n  1.091e+03  3.440e+02  2.150e+02  8.400e+01  6.280e+02  1.470e+03\n  9.680e+02  1.478e+03  8.300e+01  1.196e+03  1.307e+03  1.008e+03\n  9.170e+02  6.570e+02  5.600e+01  1.800e+01  4.100e+01  8.010e+02\n  9.780e+02  2.160e+02  3.490e+02  9.660e+02]\n--------------------\nColumn Name: type_of_loan, Unique count: 6260\n<StringArray>\n[                                                     'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan',\n                                                                                                      'Credit-Builder Loan',\n                                                                                  'Auto Loan, Auto Loan, and Not Specified',\n                                                                                                            'Not Specified',\n                                                                                                                       <NA>,\n                                                                                   'Credit-Builder Loan, and Mortgage Loan',\n                                                                               'Not Specified, Auto Loan, and Student Loan',\n                                                                    'Personal Loan, Debt Consolidation Loan, and Auto Loan',\n                                                                                           'Not Specified, and Payday Loan',\n                                                                        'Credit-Builder Loan, Personal Loan, and Auto Loan',\n ...\n          'Mortgage Loan, Mortgage Loan, Credit-Builder Loan, Not Specified, Mortgage Loan, Personal Loan, and Payday Loan',\n 'Student Loan, Mortgage Loan, Debt Consolidation Loan, Home Equity Loan, Student Loan, Home Equity Loan, and Student Loan',\n                                                   'Mortgage Loan, Auto Loan, Payday Loan, Not Specified, and Student Loan',\n                                                         'Home Equity Loan, Not Specified, Student Loan, and Mortgage Loan',\n                                       'Payday Loan, Credit-Builder Loan, Mortgage Loan, Home Equity Loan, and Payday Loan',\n                        'Auto Loan, Payday Loan, Auto Loan, Student Loan, Student Loan, Student Loan, and Home Equity Loan',\n                                                          'Home Equity Loan, Payday Loan, Not Specified, and Personal Loan',\n                                                                    'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan',\n                                                              'Payday Loan, Student Loan, Mortgage Loan, and Not Specified',\n                                                  'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan']\nLength: 6261, dtype: string\n--------------------\nColumn Name: delay_from_due_date, Unique count: 73\n[ 3 -1  5  6  8  7 13 10  0  4  9  1 12 11 30 31 34 27 14  2 -2 16 17 15\n 23 22 21 18 19 52 51 48 53 26 43 28 25 20 47 46 49 24 61 29 50 58 45 59\n 55 56 57 54 62 65 64 67 36 41 33 32 39 44 42 60 35 38 -3 63 40 37 -5 -4\n 66]\n--------------------\nColumn Name: num_of_delayed_payment, Unique count: 698\n[ 7.000e+00        nan  4.000e+00  6.000e+00  1.000e+00 -1.000e+00\n  0.000e+00  8.000e+00  5.000e+00  3.000e+00  9.000e+00  1.200e+01\n  1.500e+01  1.700e+01  1.000e+01  2.000e+00  1.100e+01  1.400e+01\n  2.000e+01  2.200e+01  1.300e+01  1.600e+01  1.800e+01  1.900e+01\n  2.300e+01  2.400e+01  2.100e+01  3.318e+03  3.083e+03  1.338e+03\n  2.600e+01  3.104e+03  2.500e+01  1.106e+03  8.340e+02  2.672e+03\n  2.008e+03 -3.000e+00  5.380e+02  2.700e+01 -2.000e+00  3.478e+03\n  2.420e+03  7.070e+02  7.080e+02  3.815e+03  2.800e+01  1.867e+03\n  2.250e+03  1.463e+03  4.126e+03  2.882e+03  1.941e+03  2.655e+03\n  2.628e+03  1.320e+02  3.069e+03  3.060e+02  3.539e+03  3.684e+03\n  1.823e+03  4.128e+03  1.946e+03  8.270e+02  2.297e+03  2.566e+03\n  9.040e+02  1.820e+02  9.290e+02  3.568e+03  2.503e+03  1.552e+03\n  2.812e+03  1.697e+03  3.764e+03  8.510e+02  3.905e+03  9.230e+02\n  8.800e+01  1.668e+03  3.253e+03  8.080e+02  2.689e+03  3.858e+03\n  6.420e+02  3.457e+03  1.402e+03  1.732e+03  3.154e+03  8.470e+02\n  3.037e+03  2.204e+03  3.103e+03  1.063e+03  2.056e+03  1.282e+03\n  1.841e+03  2.110e+02  7.930e+02  3.484e+03  4.110e+02  3.491e+03\n  2.072e+03  3.050e+03  1.049e+03  2.162e+03  3.402e+03  2.753e+03\n  1.718e+03  1.014e+03  3.260e+03  3.855e+03  8.400e+01  2.311e+03\n  3.251e+03  1.832e+03  4.069e+03  3.010e+03  7.330e+02  4.241e+03\n  1.660e+02  2.461e+03  1.749e+03  3.200e+03  2.185e+03  4.161e+03\n  3.009e+03  3.590e+02  2.015e+03  1.523e+03  5.940e+02  1.079e+03\n  1.199e+03  1.860e+02  1.015e+03  1.989e+03  2.810e+02  5.590e+02\n  2.165e+03  1.509e+03  3.545e+03  7.790e+02  1.920e+02  4.311e+03\n  2.323e+03  1.471e+03  1.538e+03  3.529e+03  4.390e+02  3.456e+03\n  3.040e+03  2.697e+03  3.179e+03  1.332e+03  3.175e+03  3.112e+03\n  8.290e+02  4.022e+03  3.870e+03  4.023e+03  5.310e+02  1.511e+03\n  3.092e+03  3.191e+03  2.400e+03  3.621e+03  3.536e+03  5.440e+02\n  1.864e+03  1.420e+02  2.300e+03  2.640e+02  7.200e+01  4.970e+02\n  3.980e+02  2.222e+03  3.960e+03  1.473e+03  3.043e+03  4.216e+03\n  2.903e+03  2.658e+03  4.042e+03  2.184e+03  9.210e+02  1.328e+03\n  3.404e+03  2.438e+03  8.090e+02  4.700e+01  1.996e+03  4.164e+03\n  1.370e+03  1.204e+03  2.167e+03  4.011e+03  2.590e+03  2.594e+03\n  2.533e+03  1.663e+03  1.018e+03  2.919e+03  3.458e+03  3.316e+03\n  2.589e+03  2.801e+03  3.355e+03  2.529e+03  2.488e+03  4.266e+03\n  1.243e+03  7.390e+02  8.450e+02  4.107e+03  1.884e+03  3.370e+02\n  2.660e+03  2.900e+02  6.740e+02  2.450e+03  3.738e+03  1.792e+03\n  2.823e+03  2.570e+03  7.750e+02  9.600e+02  4.820e+02  1.706e+03\n  2.493e+03  3.623e+03  3.031e+03  1.849e+03  3.559e+03  4.096e+03\n  3.726e+03  1.953e+03  2.657e+03  4.043e+03  2.938e+03  4.384e+03\n  1.647e+03  2.694e+03  3.533e+03  5.190e+02  2.677e+03  2.413e+03\n  4.139e+03  2.609e+03  4.326e+03  4.211e+03  8.230e+02  3.011e+03\n  1.608e+03  2.860e+03  4.219e+03  4.047e+03  1.531e+03  7.420e+02\n  5.200e+01  4.024e+03  1.673e+03  4.900e+01  2.243e+03  1.685e+03\n  1.869e+03  2.587e+03  3.489e+03  7.490e+02  1.164e+03  2.616e+03\n  4.134e+03  1.530e+03  1.502e+03  4.075e+03  3.845e+03  1.060e+03\n  2.573e+03  2.128e+03  3.280e+02  6.400e+02  2.585e+03  2.230e+03\n  1.795e+03  1.180e+03  1.534e+03  3.739e+03  3.313e+03  4.191e+03\n  9.960e+02  3.720e+02  3.340e+03  3.177e+03  6.020e+02  7.870e+02\n  4.135e+03  3.878e+03  4.059e+03  1.218e+03  4.051e+03  1.766e+03\n  1.359e+03  3.107e+03  5.850e+02  1.263e+03  2.511e+03  7.090e+02\n  3.632e+03  4.077e+03  2.943e+03  2.793e+03  3.245e+03  2.317e+03\n  1.640e+03  3.819e+03  2.520e+02  3.978e+03  1.498e+03  1.833e+03\n  2.737e+03  1.192e+03  1.481e+03  7.000e+02  2.710e+02  2.286e+03\n  2.730e+02  1.215e+03  3.944e+03  2.070e+03  1.478e+03  3.749e+03\n  8.710e+02  2.508e+03  2.959e+03  1.300e+02  2.940e+02  3.511e+03\n  4.150e+02  2.196e+03  2.138e+03  2.149e+03  1.874e+03  1.553e+03\n  3.847e+03  3.222e+03  1.222e+03  2.907e+03  3.051e+03  9.800e+01\n  1.598e+03  4.160e+02  2.314e+03  2.955e+03  1.691e+03  1.450e+03\n  2.021e+03  1.636e+03  8.000e+01  3.708e+03  1.950e+02  3.200e+02\n  2.945e+03  1.911e+03  3.416e+03  3.796e+03  4.159e+03  2.255e+03\n  9.380e+02  4.397e+03  3.776e+03  2.148e+03  1.994e+03  8.530e+02\n  1.178e+03  1.633e+03  1.960e+02  3.864e+03  7.140e+02  1.687e+03\n  1.034e+03  4.680e+02  1.337e+03  2.044e+03  1.541e+03  3.661e+03\n  1.211e+03  2.645e+03  2.007e+03  1.020e+02  1.891e+03  3.162e+03\n  3.142e+03  2.766e+03  3.881e+03  2.728e+03  2.671e+03  1.952e+03\n  3.580e+03  2.705e+03  4.251e+03  9.720e+02  3.119e+03  3.502e+03\n  4.185e+03  2.954e+03  6.830e+02  1.614e+03  1.572e+03  4.302e+03\n  3.447e+03  1.852e+03  2.131e+03  1.900e+03  1.699e+03  1.330e+02\n  2.018e+03  2.127e+03  5.080e+02  2.100e+02  5.770e+02  1.664e+03\n  2.604e+03  1.411e+03  2.351e+03  8.670e+02  1

## Replace all incorrect values with `pd.na`

### Data Quality Note: SSN Column
- **Total rows:** 100,000
- **Invalid SSN values removed:** 5,572 (5.5%)
- **Pattern enforced:** `\d{3}-\d{2}-\d{4}`
- **Action:** Replaced invalid entries with `pd.NA`
- **Justification:** SSN is an identifier, not a predictive feature. Invalid tokens (e.g., `#F%$D@*&8`) indicate data corruption.

In [196]:
df["ssn"] = df["ssn"].where(df["ssn"].str.match(r"^\d{3}-\d{2}-\d{4}$", na=False), pd.NA)

### Implement one-hot encoding for the column `type_of_loan`

#### Analyze a number of unique values in the `type_of_loan` column

In [197]:
df["type_of_loan"].hasnans

True

In [198]:
loan_types = set()

for val in df["type_of_loan"]:
    if pd.isna(val):
        continue

    normalized = val.replace(" and", ", ")
    types = normalized.split(",")
    for type in types:
        if type.strip() == "":
            continue
        loan_types.add(type.strip())

print(loan_types)
print(len(loan_types))

{'Payday Loan', 'Not Specified', 'Student Loan', 'Credit-Builder Loan', 'Debt Consolidation Loan', 'Personal Loan', 'Auto Loan', 'Mortgage Loan', 'Home Equity Loan'}
9

#### Apply one-hot encoding

In [199]:
def apply_one_hot_encoding_to_type_of_loan():
    if "type_of_loan" not in df.columns:
        print("`type_of_loan` has already been removed")
        return

    for loan in sorted(loan_types):
        column_name = f"has_{loan.lower().replace(" ", "_").replace("-", "_")}"
        df[column_name] = df["type_of_loan"].apply(
            lambda s: 1 if pd.notna(s) and loan in s else 0
        ).astype("int8")

In [200]:
apply_one_hot_encoding_to_type_of_loan()

In [201]:
df = df.drop(["type_of_loan"], axis=1, errors="ignore")

In [202]:
df.head()

,id,customer_id,month,name,age,ssn,occupation,annual_income,monthly_inhand_salary,num_bank_accounts,...,credit_score,has_auto_loan,has_credit_builder_loan,has_debt_consolidation_loan,has_home_equity_loan,has_mortgage_loan,has_not_specified,has_payday_loan,has_personal_loan,has_student_loan
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,1,1,0,1,0,0,0,1,0
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,NaN,3,...,Good,1,1,0,1,0,0,0,1,0
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500.0,821-00-0265,Scientist,19114.12,NaN,3,...,Good,1,1,0,1,0,0,0,1,0
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,NaN,3,...,Good,1,1,0,1,0,0,0,1,0
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,1,1,0,1,0,0,0,1,0

### Cleanup the column `occupation`

In [203]:
df["occupation"] = df["occupation"].replace("_______", pd.NA)
df["occupation"].unique()

<StringArray>
[    'Scientist',            <NA>,       'Teacher',      'Engineer',
  'Entrepreneur',     'Developer',        'Lawyer', 'Media_Manager',
        'Doctor',    'Journalist',       'Manager',    'Accountant',
      'Musician',      'Mechanic',        'Writer',     'Architect']
Length: 16, dtype: string

### Cleanup the column `credit_mix`

In [204]:
df["credit_mix"] = df["credit_mix"].replace("_", pd.NA)

In [205]:
df["credit_mix"].unique()

<StringArray>
[<NA>, 'Good', 'Standard', 'Bad']
Length: 4, dtype: string

### Data Transformation Note: `Credit_History_Age` Column

**Original format:** `"X Years and Y Months"` (string)
- Example: `"22 Years and 1 Months"`, `"0 Years and 11 Months"`
- Total unique values: 404
- Data type: String (not suitable for modeling)

**Problem:**
- Non-numeric format prevents mathematical operations
- Cannot be used directly in ML models
- Inconsistent scale (years vs months)

**Solution:** Convert to numeric total months

**Transformation applied:**
```
"X Years and Y Months" â†’ (X Ã— 12) + Y months
```

**Examples:**
- `"22 Years and 1 Months"` â†’ 265 months
- `"0 Years and 11 Months"` â†’ 11 months
- `"1 Years and 0 Months"` â†’ 12 months

**New column:** `credit_history_months` (Int32, nullable)
- Preserves ordering and scale
- Suitable for distance-based and linear models
- Missing values retained as `<NA>`

In [206]:
def convert_string_to_months(str: str) -> Optional[int]:
    if pd.isna(str):
        return pd.NA

    values = str.split(" and ")
    years = int(values[0].split(" Years")[0])
    months = int(values[1].split(" Months")[0])

    return years * 12 + months

In [207]:
df["credit_history_months"] = df["credit_history_age"].apply(
    lambda s: convert_string_to_months(s)
)

In [208]:
df = df.drop(["credit_history_age"], axis=1, errors="ignore")

In [209]:
df.head()

,id,customer_id,month,name,age,ssn,occupation,annual_income,monthly_inhand_salary,num_bank_accounts,...,has_auto_loan,has_credit_builder_loan,has_debt_consolidation_loan,has_home_equity_loan,has_mortgage_loan,has_not_specified,has_payday_loan,has_personal_loan,has_student_loan,credit_history_months
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3,...,1,1,0,1,0,0,0,1,0,265
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,NaN,3,...,1,1,0,1,0,0,0,1,0,<NA>
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500.0,821-00-0265,Scientist,19114.12,NaN,3,...,1,1,0,1,0,0,0,1,0,267
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,NaN,3,...,1,1,0,1,0,0,0,1,0,268
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3,...,1,1,0,1,0,0,0,1,0,269

### Cleaning up the column `payment_of_min_amount`

In [210]:
df["payment_of_min_amount"] = df["payment_of_min_amount"].replace("NM", pd.NA)
df["payment_of_min_amount"].unique()

<StringArray>
['No', <NA>, 'Yes']
Length: 3, dtype: string

### Data Cleaning Note: `payment_behaviour` Column

**Original values:** 7 unique categories
- Valid categories (6): Follow pattern `{Spending_Level}_{Value_Size}_payments`
  - `High_spent_Small_value_payments`
  - `High_spent_Medium_value_payments`
  - `High_spent_Large_value_payments`
  - `Low_spent_Small_value_payments`
  - `Low_spent_Medium_value_payments`
  - `Low_spent_Large_value_payments`
- Invalid value (1): `'!@9#%8'` (7.6% of records)

**Pattern interpretation:**

The `{Spending_Level}_{Value_Size}_payments` format captures two behavioral dimensions:

1. **`Spending_Level`** (High/Low): Total amount spent across all transactions
2. **`Value_Size`** (Small/Medium/Large): Average size of individual transactions

**Examples:**
- `High_spent_Small_value_payments`: Many small transactions totaling high spend (e.g., 100 Ã— $50 = $5,000)
- `Low_spent_Large_value_payments`: Few large transactions totaling low spend (e.g., 2 Ã— $500 = $1,000)

**Problem:**
- `'!@9#%8'` is a corrupted placeholder value (similar to `'_______'`, `'_'`, `'#F%$D@*&8'` seen in other columns)
- Represents 7,600 rows with missing payment behavior data
- Not a valid behavioral category

**Action:** Replace `'!@9#%8'` with `pd.NA`

**Justification:**
- Invalid token indicates data corruption, not a meaningful category
- Consistent with data quality cleanup approach for other columns
- Missing values can be handled during model preprocessing (imputation or dedicated handling)

**Credit risk insight:**
This feature provides valuable behavioral signals:
- High frequency small payments may indicate stable, regular income
- Large infrequent payments may suggest different financial management styles
- Captures spending patterns beyond simple transaction amounts

In [211]:
(df["payment_behaviour"] == "!@9#%8").sum() / len(df) * 100

np.float64(7.6)

In [212]:
df["payment_behaviour"] = df["payment_behaviour"].replace("!@9#%8", pd.NA)

In [213]:
payment_behavior_values = set()

for val in df["payment_behaviour"]:
    if pd.isna(val) is True:
        continue

    parts = val.lower().split("_payments")
    payment_behavior_values.add(parts[0])

payment_behavior_values

{'high_spent_large_value',
 'high_spent_medium_value',
 'high_spent_small_value',
 'low_spent_large_value',
 'low_spent_medium_value',
 'low_spent_small_value'}

In [214]:
for payment_behavior_value in payment_behavior_values:
    column_name = f"payment_behavior_{payment_behavior_value}"

    df[column_name] = df["payment_behaviour"].apply(
        lambda value: 1 if pd.notna(value) and payment_behavior_value in value.lower() else 0
    )

In [215]:
df = df.drop(["payment_behaviour"], axis=1, errors="ignore")

In [216]:
df.head(1).T

                                                      0
id                                               0x1602
customer_id                                   CUS_0xd40
month                                           January
name                                      Aaron Maashoh
age                                                23.0
ssn                                         821-00-0265
occupation                                    Scientist
annual_income                                  19114.12
monthly_inhand_salary                       1824.843333
num_bank_accounts                                     3
num_credit_card                                       4
interest_rate                                         3
num_of_loan                                         4.0
delay_from_due_date                                   3
num_of_delayed_payment                              7.0
changed_credit_limit                              11.27
num_credit_inquiries                                4.0
credit_mix                                         <NA>
outstanding_debt                                 809.98
credit_utilization_ratio                       26.82262
payment_of_min_amount                                No
total_emi_per_month                           49.574949
amount_invested_monthly                       80.415295
monthly_balance                              312.494089
credit_score                                       Good
has_auto_loan                                         1
has_credit_builder_loan                               1
has_debt_consolidation_loan                           0
has_home_equity_loan                                  1
has_mortgage_loan                                     0
has_not_specified                                     0
has_payday_loan                                       0
has_personal_loan                                     1
has_student_loan                                      0
credit_history_months                               265
payment_behavior_high_spent_large_value               0
payment_behavior_low_spent_large_value                0
payment_behavior_high_spent_medium_value              0
payment_behavior_low_spent_small_value                0
payment_behavior_high_spent_small_value               1
payment_behavior_low_spent_medium_value               0

In [217]:
df[df["num_of_delayed_payment"] < 0]["num_of_delayed_payment"].value_counts()

num_of_delayed_payment
-1.0    308
-2.0    223
-3.0     91
Name: count, dtype: int64

In [218]:
df[df["num_of_delayed_payment"] == -1].head(2).T

                                                      10                 698
id                                                 0x1610             0x1a18
customer_id                                    CUS_0x21b1         CUS_0x71e0
month                                               March              March
name                                      Rick Rothackerj  Aruna Viswanathau
age                                                  28.0               28.0
ssn                                           004-07-5839        330-96-0638
occupation                                        Teacher           Mechanic
annual_income                                         NaN           15398.95
monthly_inhand_salary                         3037.986667                NaN
num_bank_accounts                                       2                  1
num_credit_card                                      1385                  7
interest_rate                                           6                  5
num_of_loan                                           1.0                4.0
delay_from_due_date                                     3                  1
num_of_delayed_payment                               -1.0               -1.0
changed_credit_limit                                 5.42               8.41
num_credit_inquiries                                  2.0                3.0
credit_mix                                           <NA>               Good
outstanding_debt                                   605.03             343.84
credit_utilization_ratio                        33.224951          33.494442
payment_of_min_amount                                  No               <NA>
total_emi_per_month                             18.816215           34.81397
amount_invested_monthly                         58.515976           47.60747
monthly_balance                                466.466476         322.403143
credit_score                                     Standard           Standard
has_auto_loan                                           0                  0
has_credit_builder_loan                                 1                  0
has_debt_consolidation_loan                             0                  0
has_home_equity_loan                                    0                  0
has_mortgage_loan                                       0                  1
has_not_specified                                       0                  1
has_payday_loan                                         0                  0
has_personal_loan                                       0                  0
has_student_loan                                        0                  1
credit_history_months                                 321                341
payment_behavior_high_spent_large_value                 1                  0
payment_behavior_low_spent_large_value                  0                  0
payment_behavior_high_spent_medium_value                0                  1
payment_behavior_low_spent_small_value                  0                  0
payment_behavior_high_spent_small_value                 0                  0
payment_behavior_low_spent_medium_value                 0                  0

### Data Cleaning Note: `num_of_delayed_payment` Column

**Problem:**
- Found negative values: `-1` (308 rows), `-2` (223 rows), `-3` (91 rows)
- Total: 622 rows (0.6% of data)
- Semantically invalid: Cannot have negative count of delayed payments

**Action:** Replace negative values with `pd.NA`

**Justification:**
- Negative values are placeholder indicators for missing data
- Consistent with cleanup approach for other columns
- Valid range: 0 or positive integers only

In [219]:
df.loc[df["num_of_delayed_payment"] < 0, "num_of_delayed_payment"] = pd.NA
df["num_of_delayed_payment"].unique()

array([7.000e+00,       nan, 4.000e+00, 6.000e+00, 1.000e+00, 0.000e+00,
       8.000e+00, 5.000e+00, 3.000e+00, 9.000e+00, 1.200e+01, 1.500e+01,
       1.700e+01, 1.000e+01, 2.000e+00, 1.100e+01, 1.400e+01, 2.000e+01,
       2.200e+01, 1.300e+01, 1.600e+01, 1.800e+01, 1.900e+01, 2.300e+01,
       2.400e+01, 2.100e+01, 3.318e+03, 3.083e+03, 1.338e+03, 2.600e+01,
       3.104e+03, 2.500e+01, 1.106e+03, 8.340e+02, 2.672e+03, 2.008e+03,
       5.380e+02, 2.700e+01, 3.478e+03, 2.420e+03, 7.070e+02, 7.080e+02,
       3.815e+03, 2.800e+01, 1.867e+03, 2.250e+03, 1.463e+03, 4.126e+03,
       2.882e+03, 1.941e+03, 2.655e+03, 2.628e+03, 1.320e+02, 3.069e+03,
       3.060e+02, 3.539e+03, 3.684e+03, 1.823e+03, 4.128e+03, 1.946e+03,
       8.270e+02, 2.297e+03, 2.566e+03, 9.040e+02, 1.820e+02, 9.290e+02,
       3.568e+03, 2.503e+03, 1.552e+03, 2.812e+03, 1.697e+03, 3.764e+03,
       8.510e+02, 3.905e+03, 9.230e+02, 8.800e+01, 1.668e+03, 3.253e+03,
       8.080e+02, 2.689e+03, 3.858e+03, 6.420e+02, 3.457e+03, 1.402e+03,
       1.732e+03, 3.154e+03, 8.470e+02, 3.037e+03, 2.204e+03, 3.103e+03,
       1.063e+03, 2.056e+03, 1.282e+03, 1.841e+03, 2.110e+02, 7.930e+02,
       3.484e+03, 4.110e+02, 3.491e+03, 2.072e+03, 3.050e+03, 1.049e+03,
       2.162e+03, 3.402e+03, 2.753e+03, 1.718e+03, 1.014e+03, 3.260e+03,
       3.855e+03, 8.400e+01, 2.311e+03, 3.251e+03, 1.832e+03, 4.069e+03,
       3.010e+03, 7.330e+02, 4.241e+03, 1.660e+02, 2.461e+03, 1.749e+03,
       3.200e+03, 2.185e+03, 4.161e+03, 3.009e+03, 3.590e+02, 2.015e+03,
       1.523e+03, 5.940e+02, 1.079e+03, 1.199e+03, 1.860e+02, 1.015e+03,
       1.989e+03, 2.810e+02, 5.590e+02, 2.165e+03, 1.509e+03, 3.545e+03,
       7.790e+02, 1.920e+02, 4.311e+03, 2.323e+03, 1.471e+03, 1.538e+03,
       3.529e+03, 4.390e+02, 3.456e+03, 3.040e+03, 2.697e+03, 3.179e+03,
       1.332e+03, 3.175e+03, 3.112e+03, 8.290e+02, 4.022e+03, 3.870e+03,
       4.023e+03, 5.310e+02, 1.511e+03, 3.092e+03, 3.191e+03, 2.400e+03,
       3.621e+03, 3.536e+03, 5.440e+02, 1.864e+03, 1.420e+02, 2.300e+03,
       2.640e+02, 7.200e+01, 4.970e+02, 3.980e+02, 2.222e+03, 3.960e+03,
       1.473e+03, 3.043e+03, 4.216e+03, 2.903e+03, 2.658e+03, 4.042e+03,
       2.184e+03, 9.210e+02, 1.328e+03, 3.404e+03, 2.438e+03, 8.090e+02,
       4.700e+01, 1.996e+03, 4.164e+03, 1.370e+03, 1.204e+03, 2.167e+03,
       4.011e+03, 2.590e+03, 2.594e+03, 2.533e+03, 1.663e+03, 1.018e+03,
       2.919e+03, 3.458e+03, 3.316e+03, 2.589e+03, 2.801e+03, 3.355e+03,
       2.529e+03, 2.488e+03, 4.266e+03, 1.243e+03, 7.390e+02, 8.450e+02,
       4.107e+03, 1.884e+03, 3.370e+02, 2.660e+03, 2.900e+02, 6.740e+02,
       2.450e+03, 3.738e+03, 1.792e+03, 2.823e+03, 2.570e+03, 7.750e+02,
       9.600e+02, 4.820e+02, 1.706e+03, 2.493e+03, 3.623e+03, 3.031e+03,
       1.849e+03, 3.559e+03, 4.096e+03, 3.726e+03, 1.953e+03, 2.657e+03,
       4.043e+03, 2.938e+03, 4.384e+03, 1.647e+03, 2.694e+03, 3.533e+03,
       5.190e+02, 2.677e+03, 2.413e+03, 4.139e+03, 2.609e+03, 4.326e+03,
       4.211e+03, 8.230e+02, 3.011e+03, 1.608e+03, 2.860e+03, 4.219e+03,
       4.047e+03, 1.531e+03, 7.420e+02, 5.200e+01, 4.024e+03, 1.673e+03,
       4.900e+01, 2.243e+03, 1.685e+03, 1.869e+03, 2.587e+03, 3.489e+03,
       7.490e+02, 1.164e+03, 2.616e+03, 4.134e+03, 1.530e+03, 1.502e+03,
       4.075e+03, 3.845e+03, 1.060e+03, 2.573e+03, 2.128e+03, 3.280e+02,
       6.400e+02, 2.585e+03, 2.230e+03, 1.795e+03, 1.180e+03, 1.534e+03,
       3.739e+03, 3.313e+03, 4.191e+03, 9.960e+02, 3.720e+02, 3.340e+03,
       3.177e+03, 6.020e+02, 7.870e+02, 4.135e+03, 3.878e+03, 4.059e+03,
       1.218e+03, 4.051e+03, 1.766e+03, 1.359e+03, 3.107e+03, 5.850e+02,
       1.263e+03, 2.511e+03, 7.090e+02, 3.632e+03, 4.077e+03, 2.943e+03,
       2.793e+03, 3.245e+03, 2.317e+03, 1.640e+03, 3.819e+03, 2.520e+02,
       3.978e+03, 1.498e+03, 1.833e+03, 2.737e+03, 1.192e+03, 1.481e+03,
       7.000e+02, 2.710e+02, 2.286e+03, 2.730e+02, 1.215e+03, 3.944e+03,
       2.070e+03, 1.478e+03, 3.749e+03, 8.710e+02, 2.508e+03, 2.959e+03,
       1.300e+02, 2.940e+02, 3.511e+03, 4.150e+02, 2.196e+03, 2.138e+03,
       2.149e+03, 1.874e+03, 1.553e+03, 3.847e+03, 3.222e+03, 1.222e+03,
       2.907e+03, 3.051e+03, 9.800e+01, 1.598e+03, 4.160e+02, 2.314e+03,
       2.955e+03, 1.691e+03, 1.450e+03, 2.021e+03, 1.636e+03, 8.000e+01,
       3.708e+03, 1.950e+02, 3.200e+02, 2.945e+03, 1.911e+03, 3.416e+03,
       3.796e+03, 4.159e+03, 2.255e+03, 9.380e+02, 4.397e+03, 3.776e+03,
       2.148e+03, 1.994e+03, 8.530e+02, 1.178e+03, 1.633e+03, 1.960e+02,
       3.864e+03, 7.140e+02, 1.687e+03, 1.034e+03, 4.680e+02, 1.337e+03,
       2.044e+03, 1.541e+03, 3.661e+03, 1.211e+03, 2.645e+03, 2.007e+03,
       1.020e+02, 1.891e+03, 3.162e+03, 3.142e+03, 2.766e+03, 3.881e+03,
       2.728e+03, 2.671e+03, 1.952e+03, 3.580e+03, 2.705e+03, 4.251e+03,
       9.720e+02, 3.119e+03, 3.502e+03, 4.185e+03, 2.954e+03, 6.830e+02,
       1.614e+03, 1.572e+03, 4.302e+03, 3.447e+03, 1.852e+03, 2.131e+03,
       1.900e+03, 1.699e+03, 1.330e+02, 2.018e+03, 2.127e+03, 5.080e+02,
       2.100e+02, 5.770e+02, 1.664e+03, 2.604e+03, 1.411e+03, 2.351e+03,
       8.670e+02, 1.371e+03, 2.352e+03, 1.191e+03, 9.050e+02, 4.053e+03,
       3.869e+03, 9.330e+02, 3.660e+03, 3.300e+03, 3.629e+03, 3.208e+03,
       2.142e+03, 2.521e+03, 4.500e+02, 5.830e+02, 8.760e+02, 1.210e+02,
       3.919e+03, 2.560e+03, 2.578e+03, 2.060e+03, 8.130e+02, 1.236e+03,
       1.489e+03, 4.360e+03, 1.154e+03, 2.544e+03, 4.172e+03, 2.924e+03,
       4.260e+02, 4.270e+03, 2.768e+03, 3.909e+03, 3.951e+03, 2.712e+03,
       2.498e+03, 3.171e+03, 1.750e+03, 1.970e+02, 2.569e+03, 2.650e+02,
       4.293e+03, 8.870e+02, 2.707e+03, 2.397e+03, 4.337e+03, 4.249e+03,
       2.751e+03, 2.950e+03, 1.859e+03, 1.070e+02, 2.348e+03, 2.506e+03,
       2.810e+03, 2.873e+03, 1.301e+03, 2.262e+03, 1.890e+03, 3.078e+03,
       3.865e+03, 3.268e+03, 2.777e+03, 3.105e+03, 1.278e+03, 3.793e+03,
       2.276e+03, 2.879e+03, 4.298e+03, 2.141e+03, 2.230e+02, 2.239e+03,
       8.460e+02, 1.862e+03, 2.756e+03, 1.181e+03, 1.184e+03, 2.617e+03,
       3.972e+03, 2.334e+03, 3.900e+03, 2.759e+03, 4.169e+03, 2.280e+03,
       2.492e+03, 2.729e+03, 3.750e+03, 1.825e+03, 3.090e+02, 2.431e+03,
       3.099e+03, 2.080e+03, 2.279e+03, 2.666e+03, 3.722e+03, 1.976e+03,
       5.290e+02, 1.985e+03, 3.060e+03, 4.278e+03, 3.212e+03, 4.600e+01,
       3.148e+03, 3.467e+03, 4.231e+03, 3.790e+03, 4.730e+02, 1.536e+03,
       3.955e+03, 2.324e+03, 2.381e+03, 1.177e+03, 3.710e+02, 2.896e+03,
       3.880e+03, 2.991e+03, 4.319e+03, 1.061e+03, 6.620e+02, 4.144e+03,
       6.930e+02, 2.006e+03, 3.115e+03, 3.751e+03, 1.861e+03, 4.262e+03,
       2.913e+03, 2.615e+03, 3.492e+03, 8.000e+02, 3.766e+03, 3.840e+02,
       3.407e+03, 1.087e+03, 3.329e+03, 1.086e+03, 2.216e+03, 2.457e+03,
       3.522e+03, 3.274e+03, 3.488e+03, 2.854e+03, 2.380e+02, 3.510e+02,
       3.706e+03, 4.280e+03, 4.095e+03, 2.926e+03, 1.329e+03, 3.370e+03,
       2.830e+02, 1.392e+03, 1.743e+03, 2.429e+03, 9.740e+02, 3.156e+03,
       1.133e+03, 4.388e+03, 3.243e+03, 4.282e+03, 2.523e+03, 4.281e+03,
       3.415e+03, 2.001e+03, 4.410e+02, 9.400e+01, 3.499e+03, 9.690e+02,
       3.368e+03, 1.060e+02, 1.004e+03, 2.638e+03, 3.946e+03, 2.956e+03,
       4.324e+03, 8.500e+01, 4.113e+03, 8.190e+02, 6.150e+02, 1.172e+03,
       2.553e+03, 1.765e+03, 3.495e+03, 2.820e+03, 4.239e+03, 4.340e+03,
       2.636e+03, 4.295e+03, 1.653e+03, 1.325e+03, 1.879e+03, 1.096e+03,
       1.735e+03, 3.584e+03, 1.073e+03, 1.975e+03, 3.827e+03, 2.552e+03,
       3.754e+03, 2.378e+03, 5.320e+02, 9.260e+02, 2.376e+03, 3.636e+03,
       3.763e+03, 7.780e+02, 2.621e+03, 8.040e+02, 7.540e+02, 2.418e+03,
       4.019e+03, 3.926e+03, 3.574e+03, 1.750e+02, 1.620e+02, 2.834e+03,
       3.765e+03, 2.354e+03, 5.230e+02, 2.274e+03, 1.606e+03, 1.443e+03,
       1.354e+03, 1.422e+03, 2.278e+03, 1.045e+03, 4.106e+03, 3.155e+03,
       6.660e+02, 6.590e+02, 3.229e+03, 1.216e+03, 2.076e+03, 2.384e+03,
       1.954e+03, 7.190e+02, 2.534e+03, 4.002e+03, 5.410e+02, 2.875e+03,
       4.344e+03, 2.081e+03, 3.894e+03, 1.256e+03, 6.760e+02, 4.178e+03,
       3.990e+02, 8.600e+01, 1.571e+03, 4.037e+03, 1.967e+03, 4.005e+03,
       3.216e+03, 1.150e+03, 2.591e+03, 1.801e+03, 3.721e+03, 1.775e+03,
       2.260e+03, 3.707e+03, 4.292e+03, 1.820e+03, 1.450e+02, 1.480e+03,
       1.850e+03, 4.300e+02, 2.170e+02, 1.389e+03, 1.579e+03, 3.391e+03,
       2.385e+03, 3.336e+03, 3.392e+03, 3.688e+03, 2.210e+02, 2.047e+03])

In [220]:
df.dtypes

id                                                  object
customer_id                                 string[python]
month                                       string[python]
name                                        string[python]
age                                                float64
ssn                                         string[python]
occupation                                  string[python]
annual_income                                      float64
monthly_inhand_salary                              float64
num_bank_accounts                                    int64
num_credit_card                                      int64
interest_rate                                        int64
num_of_loan                                        float64
delay_from_due_date                                  int64
num_of_delayed_payment                             float64
changed_credit_limit                               float64
num_credit_inquiries                               float64
credit_mix                                  string[python]
outstanding_debt                                   float64
credit_utilization_ratio                           float64
payment_of_min_amount                       string[python]
total_emi_per_month                                float64
amount_invested_monthly                            float64
monthly_balance                                    float64
credit_score                                string[python]
has_auto_loan                                         int8
has_credit_builder_loan                               int8
has_debt_consolidation_loan                           int8
has_home_equity_loan                                  int8
has_mortgage_loan                                     int8
has_not_specified                                     int8
has_payday_loan                                       int8
has_personal_loan                                     int8
has_student_loan                                      int8
credit_history_months                               object
payment_behavior_high_spent_large_value              int64
payment_behavior_low_spent_large_value               int64
payment_behavior_high_spent_medium_value             int64
payment_behavior_low_spent_small_value               int64
payment_behavior_high_spent_small_value              int64
payment_behavior_low_spent_medium_value              int64
dtype: object

### Data Cleaning Note: `age` Column

**Problem:**
- Found negative values.
- Semantically invalid: Should be in the range between 18 and 100 (including)

**Action:**
- Replace negative values with `pd.NA`
- Replace values more than 100 with `pd.NA`

In [221]:
df["age"] =df["age"].clip(18, 70)
df.loc[(df["age"] < 18) | (df["age"] > 70), "age"]

Series([], Name: age, dtype: float64)

In [222]:
with io.capture_output() as captured:
    display_column_unique_values()

captured_output_text = captured.stdout
captured_output_text

"Column Name: id, Unique count: 100000\n['0x1602' '0x1603' '0x1604' ... '0x25feb' '0x25fec' '0x25fed']\n--------------------\nColumn Name: customer_id, Unique count: 12500\n<StringArray>\n[ 'CUS_0xd40', 'CUS_0x21b1', 'CUS_0x2dbc', 'CUS_0xb891', 'CUS_0x1cdb',\n 'CUS_0x95ee', 'CUS_0x284a', 'CUS_0x5407', 'CUS_0x4157', 'CUS_0xba08',\n ...\n 'CUS_0x2654', 'CUS_0xb11c', 'CUS_0xad4f', 'CUS_0x51b3', 'CUS_0x2084',\n 'CUS_0x372c',  'CUS_0xf16', 'CUS_0xaf61', 'CUS_0x8600', 'CUS_0x942c']\nLength: 12500, dtype: string\n--------------------\nColumn Name: month, Unique count: 8\n<StringArray>\n['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August']\nLength: 8, dtype: string\n--------------------\nColumn Name: name, Unique count: 10139\n<StringArray>\n[   'Aaron Maashoh',               <NA>,  'Rick Rothackerj',\n           'Langep',           'Jasond',           'Deepaa',\n               'Np',           'Nadiaq',             'Annk',\n     'Charlie Zhur',\n ...\n  'Rick Rothackeru',          'Lauriay',            'Xolai',\n 'Yantoultra Nguif',  'Charles Abbotta',   'Yinka Adegokej',\n 'Sabina Zawadzkig',   'Chris Wickhamm',   'Sarah McBridec',\n            'Nicks']\nLength: 10140, dtype: string\n--------------------\nColumn Name: age, Unique count: 40\n[23. 18. nan 28. 34. 54. 55. 21. 31. 33. 70. 30. 24. 44. 45. 40. 41. 32.\n 35. 36. 39. 37. 20. 46. 26. 42. 19. 48. 38. 43. 22. 27. 25. 47. 53. 56.\n 29. 49. 51. 50. 52.]\n--------------------\nColumn Name: ssn, Unique count: 12500\n<StringArray>\n['821-00-0265',          <NA>, '004-07-5839', '486-85-3974', '072-31-6145',\n '615-06-7821', '612-70-8987', '411-51-0676', '500-92-6408', '070-19-1622',\n ...\n '647-67-8889', '546-94-4789', '226-45-0652', '837-85-9800', '253-72-7758',\n '340-85-7301', '868-70-2218', '133-16-7738', '031-35-0942', '078-73-5990']\nLength: 12501, dtype: string\n--------------------\nColumn Name: occupation, Unique count: 15\n<StringArray>\n[    'Scientist',            <NA>,       'Teacher',      'Engineer',\n  'Entrepreneur',     'Developer',        'Lawyer', 'Media_Manager',\n        'Doctor',    'Journalist',       'Manager',    'Accountant',\n      'Musician',      'Mechanic',        'Writer',     'Architect']\nLength: 16, dtype: string\n--------------------\nColumn Name: annual_income, Unique count: 13437\n[19114.12 34847.84      nan ... 37188.1  20002.88 39628.99]\n--------------------\nColumn Name: monthly_inhand_salary, Unique count: 13235\n[1824.84333333           nan 3037.98666667 ... 3097.00833333 1929.90666667\n 3359.41583333]\n--------------------\nColumn Name: num_bank_accounts, Unique count: 943\n[   3    2    1    7    4    0    8    5    6    9   10 1414 1231   67\n  572 1488   91  528 1647 1696 1338  649  889 1668  685  857  975 1496\n 1534 1620   37 1388 1429 1332 1588  120 1777 1096  803  494  744 1139\n  831 1613  741  121  665 1748 1644  823 1356 1651   87  711  450  210\n 1671 1722  648  672 1662 1495  510  666  429 1131 1434  980 1026  526\n  718 1300 1312 1315  501 1566  480 1042  322  628 1016  333 1265  791\n  427  563  905 1190 1036 1611   38  619  555 1769  280  752 1201  812\n 1487  222  212 1019 1222  610 1714 1308  525 1158 1115 1616  754 1601\n  797 1577  521  703  933  959  809 1089 1656 1113 1715  964 1533 1789\n  871  434 1295  565 1724  603  677  541  698 1101  464 1539 1462 1011\n 1257 1727   45  244 1266  897  535  484  331  675  826  946 1675  105\n 1327  845  549  473  710  527  908   68 1628  371  445 1168  868  687\n  455 1003   26 1526  618  598  351 1342 1783  683 1557 1335  416 1747\n  137 1475  373  338  942  170  973 1605 1478  386 1448 1033 1225  596\n 1731 1214 1481 1105  580  347  108  148 1001 1467 1114 1000  632  246\n 1032 1394  689  482 1303  720  574  588 1358  650  708  179  844 1140\n  335   60  732 1494 1436  820   28 1576  818  794  731  534  556  691\n 1197 1155 1255 1763  769 1124  819  318 1418  882   61  264  194 1798\n  611  840  505 1110  719 1065  195  584  550 1014 1022  903  976   31\n  417 1423 1148  616  786 1424   55 1061 1293  342   43 1540  488 1122\n 1274 1075  722 1268   41  814 1564 1390 1141  497  224 1135  441  374\n   74  314 1408  475 1015  681 1236   59 1425 1637 1240  299 1657 1123\n 1091 1264 1561 1632 1562  305 1318 1217 1699 1070  864 1391  112  860\n  595  229 1624 1051  821 1794 1565  397 1368 1353  508 1725 1413 1239\n  847 1317  570   -1  302  456  198  122  832  167 1547 1666 1241  275\n  566 1779  201  334 1169  834 1174 1040  530 1676 1468 1093  706  489\n 1592  688  830 1784 1543 1600 1178  228  483 1501  950  548  870 1211\n  604  804  129  540 1702 1636 1680 1443 1252  499  180  702  885 1652\n  795  938  833 1654 1793  303 1621 1516 1138   32  160 1491   83  423\n  928  339  931  243 1756  583 1695  274  955  430 1247  490  726  987\n   42 1626 1470 1739  887  211  385 1221  753  324  406 1677 1567  785\n  182 1079  184 1771 1048 1069  561  589 1634   70 1371  647 1153  239\n  801 1279 1287  425 1589  929 1511 1765 1047 1005 1337  981 1766  805\n 1574 1638  186   99  288 1650  974  996 1595 1594  865  203 1440  448\n  285   94  875  916 1733  240  330   79   82  135 1043  142 1235 1569\n 1741 1461  560 1551  409  418 1017  892  354  124  935  313 1363  232\n 1200 1184 1432 1479 1407 1080 1719 1024  970  761  158  312 1060  684\n  696 1520 1352 1502  936  485  350 1560 1166 1013   34 1691  715 1570\n 1751 1503 1194 1558  411  298  260  308  796 1442  912 1256  746  435\n  620 1774 1181 1323  837  307 1430   53 1447  259  921  328 1034  353\n  822  654  829  609  166  136  172 1306 1028  808  270 1072  514  156\n 1331 1630  462 1310 1210  265   50 1355  394 1393  226  991  368 1018\n 1037  627 1744  523  894  944 1730 1076 1094 1617  449  678 1164   30\n  817 1568  607  709 1230  606 1480   29 1522 1670   49  626 1641 1712\n 1370 1782  119 1137 1277   35  947  851 1041 1583 1536  575  196  143\n   33  383   57  621  230  162  352 1504 1250   39  511 1364  918 1665\n  734 1320  316  771  705 1435  304  116 1553  424  493 1530 1195 1604\n  624 1599  782 1606 1622 1285  657 1275 1291 1402  420  932  468  442\n 1145   93 1218  283  292  927 1711 1422  364 1398  594  789 1350  676\n  216 1012 1426  717 1095 1786  850  777  375  356  701 1325  290 1775\n  467 1365 1549  848 1453   84 1458  888  770 1591  582   40 1261 1764\n 1067  145  471  476 1128  967  622  641  539  858  295 1395 1517 1297\n 1126  926  157 1377  993  125  340  271 1669  272  979  707  564  997\n  447 1578 1465  415  714 1276   18 1316  587  245  446  978 1002 1631\n  341 1307  524 1267  103  242 1378 1328 1294 1309  724  197  999  547\n 1100 1456   77 1506 1472  460   11 1420  218 1253  392  670 1321  100\n 1205  443   92  811  774  159 1770  972 1157 1102  217  358 1473  440\n  140 1361  481  512 1117  300 1263 1581  901 1298  310  637  758 1734\n 1288  326 1678 1444 1344 1379  828  982  104  317 1529 1627  115  645\n 1404  940 1305 1049 1645 1466  175 1165 1419 1031  581 1580  854  725\n 1655 1134  569 1387 1381 1760  360 1735 1146 1411  969 1281  591  327\n  466  667  147  109  784 1396 1349  839 1284  802   97  281 1382 1039\n 1483  376 1249 1207 1213 1219 1345 1523  949 1063  983  886 1151  992\n 1107 1314  151   69 1489  695  738  444 1525  825  506  518 1077 1354\n  713  690  861 1389  968  421  907  205  856   72  651  161  867  971\n 1078   64 1701  546 1216   27 1709  193 1528  957  577  346 1416  396\n 1182  652 1083 1778  680 1754 1544 1703  636  472  453  463   75  756\n  296  891  813  474  697]\n--------------------\nColumn Name: num_credit_card, Unique count: 1179\n[   4 1385    5 ...  955 1430  679]\n--------------------\nColumn Name: interest_rate, Unique count: 1750\n[   3    6    8 ... 1347  387 5729]\n--------------------\nColumn Name: num_of_loan, Unique count: 399\n[ 4.000e+00  1.000e+00  3.000e+00  9.670e+02 -1.000e+02  0.000e+00\n        nan  2.000e+00  7.000e+00  5.000e+00  6.000e+00  8.000e+00\n  9.000e+00  1.464e+03  6.220e+02  3.520e+02  4.720e+02  1.017e+03\n  9.450e+02  1.460e+02  5.630e+02  3.410e+02  4.440e+02  7.200e+02\n  1.485e+03  4.900e+01  7.370e+02  1.106e+03  4.660e+02  7.280e+02\n  3.130e+02  8.430e+02  6.170e+02  1.190e+02  6.630e+02  6.400e+02\n  1.019e+03  5.010e+02  1.302e+03  3.900e+01  7.160e+02  8.480e+02\n  9.310e+02  1.214e+03  1.860e+02  4.240e+02  1.001e+03  1.110e+03\n  1.152e+03  4.570e+02  1.433e+03  1.187e+03  5.200e+01  1.480e+03\n  1.047e+03  1.035e+03  3.300e+01  1.930e+02  6.990e+02  3.290e+02\n  1.451e+03  4.840e+02  1.320e+02  6.490e+02  9.950e+02  5.450e+02\n  6.840e+02  1.135e+03  1.094e+03  1.204e+03  6.540e+02  5.800e+01\n  3.480e+02  6.140e+02  1.363e+03  3.230e+02  1.406e+03  1.348e+03\n  4.300e+02  1.530e+02  1.461e+03  9.050e+02  1.312e+03  1.424e+03\n  1.154e+03  9.500e+01  1.353e+03  1.228e+03  8.190e+02  1.006e+03\n  7.950e+02  3.590e+02  1.209e+03  5.900e+02  6.960e+02  1.465e+03\n  9.110e+02  1.181e+03  7.000e+01  8.160e+02  1.369e+03  1.430e+02\n  1.416e+03  4.550e+02  5.500e+01  1.096e+03  1.474e+03  4.200e+02\n  1.131e+03  9.040e+02  8.900e+01  1.259e+03  5.270e+02  1.241e+03\n  4.490e+02  9.830e+02  4.180e+02  3.190e+02  2.300e+01  2.380e+02\n  6.380e+02  1.380e+02  2.800e+02  1.070e+03  1.484e+03  2.740e+02\n  4.940e+02  4.040e+02  1.354e+03  1.495e+03  1.391e+03  6.010e+02\n  1.313e+03  1.319e+03  8.980e+02  2.310e+02  7.520e+02  1.740e+02\n  9.610e+02  1.046e+03  8.340e+02  2.840e+02  4.380e+02  2.880e+02\n  1.463e+03  1.151e+03  7.190e+02  1.980e+02  1.015e+03  8.550e+02\n  8.410e+02  3.920e+02  1.444e+03  1.030e+02  7.450e+02  1.720e+02\n  2.520e+02  2.410e+02  3.100e+01  4.050e+02  1.217e+03  1.030e+03\n  1.257e+03  1.370e+02  1.570e+02  1.640e+02  1.088e+03  1.236e+03\n  7.770e+02  1.048e+03  6.130e+02  3.300e+02  1.439e+03  3.210e+02\n  6.610e+02  9.520e+02  9.390e+02  5.620e+02  1.202e+03  3.020e+02\n  9.430e+02  3.940e+02  9.550e+02  1.318e+03  9.360e+02  7.810e+02\n  1.000e+02  1.329e+03  1.365e+03  8.600e+02  2.170e+02  1.910e+02\n  3.200e+01  2.820e+02  3.510e+02  1.387e+03  7.570e+02  4.160e+02\n  8.330e+02  2.920e+02  1.227e+03  6.390e+02  8.590e+02  2.430e+02\n  2.670e+02  5.100e+02  3.320e+02  9.960e+02  5.970e+02  3.110e+02\n  4.920e+02  8.200e+02  3.360e+02  1.230e+02  5.400e+02  1.441e+03\n  8.950e+02  8.910e+02  5.000e+01  9.400e+02  9.350e+02  5.960e+02\n  2.900e+01  1.182e+03  1.014e+03  2.510e+02  3.650e+02  2.910e+02\n  1.447e+03  7.420e+02  1.085e+03  1.480e+02  4.620e+02  8.320e+02\n  8.810e+02  1.225e+03  1.412e+03  1.127e+03  9.100e+02  5.380e+02\n  9.990e+02  7.330e+02  1.010e+02  2.370e+02  8.700e+01  6.590e+02\n  6.330e+02  3.870e+02  4.470e+02  6.290e+02  8.310e+02  1.384e+03\n  7.730e+02  6.210e+02  1.419e+03  2.890e+02  2.850e+02  1.393e+03\n  1.359e+03  1.482e+03  1.189e+03  1.294e+03  2.010e+02  5.790e+02\n  8.140e+02  1.410e+02  1.320e+03  5.810e+02  2.950e+02  2.900e+02\n  4.330e+02  6.790e+02  1.040e+03  1.054e+03  1.430e+03  1.023e+03\n  1.077e+03  1.457e+03  1.150e+03  7.010e+02  1.382e+03  8.890e+02\n  4.370e+02  3.720e+02  1.222e+03  1.260e+02  1.159e+03  8.680e+02\n  1.900e+01  1.297e+03  1.900e+02  8.090e+02  1.216e+03  1.074e+03\n  5.710e+02  5.200e+02  1.274e+03  1.340e+03  9.910e+02  3.160e+02\n  6.970e+02  9.260e+02  8.730e+02  1.002e+03  6.500e+01  8.750e+02\n  8.670e+02  5.480e+02  6.520e+02  1.372e+03  6.060e+02  1.036e+03\n  1.300e+03  1.700e+01  1.178e+03  8.020e+02  1.271e+03  1.137e+03\n  1.496e+03  4.390e+02  1.960e+02  6.360e+02  1.920e+02  2.280e+02\n  1.053e+03  2.290e+02  7.530e+02  1.296e+03  1.371e+03  2.540e+02\n  8.630e+02  4.640e+02  5.150e+02  8.380e+02  1.160e+03  1.289e+03\n  1.298e+03  7.990e+02  1.820e+02  5.740e+02  2.420e+02  4.150e+02\n  8.690e+02  9.580e+02  5.400e+01  1.265e+03  6.560e+02  2.750e+02\n  7.780e+02  2.080e+02  1.470e+02  3.500e+02  5.070e+02  4.630e+02\n  4.970e+02  1.129e+03  9.270e+02  6.530e+02  6.620e+02  5.290e+02\n  6.350e+02  8.970e+02  1.039e+03  2.270e+02  1.345e+03  9.240e+02\n  1.279e+03  5.460e+02  1.112e+03  1.210e+03  5.260e+02  3.000e+02\n  1.103e+03  5.040e+02  1.360e+02  1.400e+03  7.800e+01  6.860e+02\n  1.091e+03  3.440e+02  2.150e+02  8.400e+01  6.280e+02  1.470e+03\n  9.680e+02  1.478e+03  8.300e+01  1.196e+03  1.307e+03  1.008e+03\n  9.170e+02  6.570e+02  5.600e+01  1.800e+01  4.100e+01  8.010e+02\n  9.780e+02  2.160e+02  3.490e+02  9.660e+02]\n--------------------\nColumn Name: delay_from_due_date, Unique count: 73\n[ 3 -1  5  6  8  7 13 10  0  4  9  1 12 11 30 31 34 27 14  2 -2 16 17 15\n 23 22 21 18 19 52 51 48 53 26 43 28 25 20 47 46 49 24 61 29 50 58 45 59\n 55 56 57 54 62 65 64 67 36 41 33 32 39 44 42 60 35 38 -3 63 40 37 -5 -4\n 66]\n--------------------\nColumn Name: num_of_delayed_payment, Unique count: 695\n[7.000e+00       nan 4.000e+00 6.000e+00 1.000e+00 0.000e+00 8.000e+00\n 5.000e+00 3.000e+00 9.000e+00 1.200e+01 1.500e+01 1.700e+01 1.000e+01\n 2.000e+00 1.100e+01 1.400e+01 2.000e+01 2.200e+01 1.300e+01 1.600e+01\n 1.800e+01 1.900e+01 2.300e+01 2.400e+01 2.100e+01 3.318e+03 3.083e+03\n 1.338e+03 2.600e+01 3.104e+03 2.500e+01 1.106e+03 8.340e+02 2.672e+03\n 2.008e+03 5.380e+02 2.700e+01 3.478e+03 2.420e+03 7.070e+02 7.080e+02\n 3.815e+03 2.800e+01 1.867e+03 2.250e+03 1.463e+03 4.126e+03 2.882e+03\n 1.941e+03 2.655e+03 2.628e+03 1.320e+02 3.069e+03 3.060e+02 3.539e+03\n 3.684e+03 1.823e+03 4.128e+03 1.946e+03 8.270e+02 2.297e+03 2.566e+03\n 9.040e+02 1.820e+02 9.290e+02 3.568e+03 2.503e+03 1.552e+03 2.812e+03\n 1.697e+03 3.764e+03 8.510e+02 3.905e+03 9.230e+02 8.800e+01 1.668e+03\n 3.253e+03 8.080e+02 2.689e+03 3.858e+03 6.420e+02 3.457e+03 1.402e+03\n 1.732e+03 3.154e+03 8.470e+02 3.037e+03 2.204e+03 3.103e+03 1.063e+03\n 2.056e+03 1.282e+03 1.841e+03 2.110e+02 7.930e+02 3.484e+03 4.110e+02\n 3.491e+03 2.072e+03 3.050e+03 1.049e+03 2.162e+03 3.402e+03 2.753e+03\n 1.718e+03 1.014e+03 3.260e+03 3.855e+03 8.400e+01 2.311e+03 3.251e+03\n 1.832e+03 4.069e+03 3.010e+03 7.330e+02 4.241e+03 1.660e+02 2.461e+03\n 1.749e+03 3.200e+03 2.185e+03 4.161e+03 3.009e+03 3.590e+02 2.015e+03\n 1.523e+03 5.940e+02 1.079e+03 1.199e+03 1.860e+02 1.015e+03 1.989e+03\n 2.810e+02 5.590e+02 2.165e+03 1.509e+03 3.545e+03 7.790e+02 1.920e+02\n 4.311e+03 2.323e+03 1.471e+03 1.538e+03 3.529e+03 4.390e+02 3.456e+03\n 3.040e+03 2.697e+03 3.179e+03 1.332e+03 3.175e+03 3.112e+03 8.290e+02\n 4.022e+03 3.870e+03 4.023e+03 5.310e+02 1.511e+03 3.092e+03 3.191e+03\n 2.400e+03 3.621e+03 3.536e+03 5.440e+02 1.864e+03 1.420e+02 2.300e+03\n 2.640e+02 7.200e+01 4.970e+02 3.980e+02 2.222e+03 3.960e+03 1.473e+03\n 3.043e+03 4.216e+03 2.903e+03 2.658e+03 4.042e+03 2.184e+03 9.210e+02\n 1.328e+03 3.404e+03 2.438e+03 8.090e+02 4.700e+01 1.996e+03 4.164e+03\n 1.370e+03 1.204e+03 2.167e+03 4.011e+03 2.590e+03 2.594e+03 2.533e+03\n 1.663e+03 1.018e+03 2.919e+03 3.458e+03 3.316e+03 2.589e+03 2.801e+03\n 3.355e+03 2.529e+03 2.488e+03 4.266e+03 1.243e+03 7.390e+02 8.450e+02\n 4.107e+03 1.884e+03 3.370e+02 2.660e+03 2.900e+02 6.740e+02 2.450e+03\n 3.738e+03 1.792e+03 2.823e+03 2.570e+03 7.750e+02 9.600e+02 4.820e+02\n 1.706e+03 2.493e+03 3.623e+03 3.031e+03 1.849e+03 3.559e+03 4.096e+03\n 3.726e+03 1.953e+03 2.657e+03 4.043e+03 2.938e+03 4.384e+03 1.647e+03\n 2.694e+03 3.533e+03 5.190e+02 2.677e+03 2.413e+03 4.139e+03 2.609e+03\n 4.326e+03 4.211e+03 8.230e+02 3.011e+03 1.608e+03 2.860e+03 4.219e+03\n 4.047e+03 1.531e+03 7.420e+02 5.200e+01 4.024e+03 1.673e+03 4.900e+01\n 2.243e+03 1.685e+03 1.869e+03 2.587e+03 3.489e+03 7.490e+02 1.164e+03\n 2.616e+03 4.134e+03 1.530e+03 1.502e+03 4.075e+03 3.845e+03 1.060e+03\n 2.573e+03 2.128e+03 3.280e+02 6.400e+02 2.585e+03 2.230e+03 1.795e+03\n 1.180e+03 1.534e+03 3.739e+03 3.313e+03 4.191e+03 9.960e+02 3.720e+02\n 3.340e+03 3.177e+03 6.020e+02 7.870e+02 4.135e+03 3.878e+03 4.059e+03\n 1.218e+03 4.051e+03 1.766e+03 1.359e+03 3.107e+03 5.850e+02 1.263e+03\n 2.511e+03 7.090e+02 3.632e+03 4.077e+03 2.943e+03 2.793e+03 3.245e+03\n 2.317e+03 1.640e+03 3.819e+03 2.520e+02 3.978e+03 1.498e+03 1.833e+03\n 2.737e+03 1.192e+03 1.481e+03 7.000e+02 2.710e+02 2.286e+03 2.730e+02\n 1.215e+03 3.944e+03 2.070e+03 1.478e+03 3.749e+03 8.710e+02 2.508e+03\n 2.959e+03 1.300e+02 2.940e+02 3.511e+03 4.150e+02 2.196e+03 2.138e+03\n 2.149e+03 1.874e+03 1.553e+03 3.847e+03 3.222e+03 1.222e+03 2.907e+03\n 3.051e+03 9.800e+01 1.598e+03 4.160e+02 2.314e+03 2.955e+03 1.691e+03\n 1.450e+03 2.021e+03 1.636e+03 8.000e+01 3.708e+03 1.950e+02 3.200e+02\n 2.945e+03 1.911e+03 3.416e+03 3.796e+03 4.159e+03 2.255e+03 9.380e+02\n 4.397e+03 3.776e+03 2.148e+03 1.994e+03 8.530e+02 1.178e+03 1.633e+03\n 1.960e+02 3.864e+03 7.140e+02 1.687e+03 1.034e+03 4.680e+02 1.337e+03\n 2.044e+03 1.541e+03 3.661e+03 1.211e+03 2.645e+03 2.007e+03 1.020e+02\n 1.891e+03 3.162e+03 3.142e+03 2.766e+03 3.881e+03 2.728e+03 2.671e+03\n 1.952e+03 3.580e+03 2.705e+03 4.251e+03 9.720e+02 3.119e+03 3.502e+03\n 4.185e+03 2.954e+03 6.830e+02 1.614e+03 1.572e+03 4.302e+03 3.447e+03\n 1.852e+03 2.131e+03 1.900e+03 1.699e+03 1.330e+02 2.018e+03 2.127e+03\n 5.080e+02 2.100e+02 5.770e+02 1.664e+03 2.604e+03 1.411e+03 2.351e+03\n 8.670e+02 1.371e+03 2.352e+03 1.191e+03 9.050e+02 4.053e+03 3.869e+03\n 9.330e+02 3.660e+03 3.300e+03 3.629e+03 3.208e+03 2.142e+03 2.521e+03\n 4.500e+02 5.830e+02 8.760e+02 1.210e+02 3.919e+03 2.560e+03 2.578e+03\n 2.060e+03 8.130e+02 1.236e+03 1.489e+03 4.360e+03 1.154e+03 2.544e+03\n 4.172e+03 2.924e+03 4.260e+02 4.270e+03 2.768e+03 3.909e+03 3.951e+03\n 2.712e+03 2.498e+03 3.171e+03 1.750e+03 1.970e+02 2.569e+03 2.650e+02\n 4.293e+03 8.870e+02 2.707e+03 2.397e+03 4.337e+03 4.249e+03 2.751e+03\n 2.950e+03 1.859e+03 1.070e+02 2.348e+03 2.506e+03 2.810e+03 2.873e+03\n 1.301e+03 2.262e+03 1.890e+03 3.078e+03 3.865e+03 3.268e+03 2.777e+03\n 3.105e+03 1.278e+03 3.793e+03 2.276e+03 2.879e+03 4.298e+03 2.141e+03\n 2.230e+02 2.239e+03 8.460e+02 1.862e+03 2.756e+03 1.181e+03 1.184e+03\n 2.617e+03 3.972e+03 2.334e+03 3.900e+03 2.759e+03 4.169e+03 2.280e+03\n 2.492e+03 2.729e+03 3.750e+03 1.825e+03 3.090e+02 2.431e+03 3.099e+03\n 2.080e+03 2.279e+03 2.666e+03 3.722e+03 1.976e+03 5.290e+02 1.985e+03\n 3.060e+03 4.278e+03 3.212e+03 4.600e+01 3.148e+03 3.467e+03 4.231e+03\n 3.790e+03 4.730e+02 1.536e+03 3.955e+03 2.324e+03 2.381e+03 1.177e+03\n 3.710e+02 2.896e+03 3.880e+03 2.991e+03 4.319e+03 1.061e+03 6.620e+02\n 4.144e+03 6.930e+02 2.006e+03 3.115e+03 3.751e+03 1.861e+03 4.262e+03\n 2.913e+03 2.615e+03 3.492e+03 8.000e+02 3.766e+03 3.840e+02 3.407e+03\n 1.087e+03 3.329e+03 1.086e+03 2.216e+03 2.457e+03 3.522e+03 3.274e+03\n 3.488e+03 2.854e+03 2.380e+02 3.510e+02 3.706e+03 4.280e+03 4.095e+03\n 2.926e+03 1.329e+03 3.370e+03 2.830e+02 1.392e+03 1.743e+03 2.429e+03\n 9.740e+02 3.156e+03 1.133e+03 4.388e+03 3.243e+03 4.282e+03 2.523e+03\n 4.281e+03 3.415e+03 2.001e+03 4.410e+02 9.400e+01 3.499e+03 9.690e+02\n 3.368e+03 1.060e+02 1.004e+03 2.638e+03 3.946e+03 2.956e+03 4.324e+03\n 8.500e+01 4.113e+03 8.190e+02 6.150e+02 1.172e+03 2.553e+03 1.765e+03\n 3.495e+03 2.820e+03 4.239e+03 4.340e+03 2.636e+03 4.295e+03 1.653e+03\n 1.325e+03 1.879e+03 1.096e+03 1.735e+03 3.584e+03 1.073e+03 1.975e+03\n 3.827e+03 2.552e+03 3.754e+03 2.378e+03 5.320e+02 9.260e+02 2.376e+03\n 3.636e+03 3.763e+03 7.780e+02 2.621e+03 8.040e+02 7.540e+02 2.418e+03\n 4.019e+03 3.926e+03 3.574e+03 1.750e+02 1.620e+02 2.834e+03 3.765e+03\n 2.354e+03 5.230e+02 2.274e+03 1.606e+03 1.443e+03 1.354e+03 1.422e+03\n 2.278e+03 1.045e+03 4.106e+03 3.155e+03 6.660e+02 6.590e+02 3.229e+03\n 1.216e+03 2.076e+03 2.384e+03 1.954e+03 7.190e+02 2.534e+03 4.002e+03\n 5.410e+02 2.875e+03 4.344e+03 2.081e+03 3.894e+03 1.256e+03 6.760e+02\n 4.178e+03 3.990e+02 8.600e+01 1.571e+03 4.037e+03 1.967e+03 4.005e+03\n 3.216e+03 1.150e+03 2.591e+03 1.801e+03 3.721e+03 1.775e+03 2.260e+03\n 3.707e+03 4.292e+03 1.820e+03 1.450e+02 1.480e+03 1.850e+03 4.300e+02\n 2.170e+02 1.389e+03 1.579e+03 3.391e+03 2.385e+03 3.336e+03 3.392e+03\n 3.688e+03 2.210e+02 2.047e+03]\n--------------------\nColumn Name: changed_credit_limit, Unique count: 4375\n[11.27   nan  6.27 ... 17.51 25.16 21.17]\n--------------------\nColumn Name: num_

### Replace impossible values (negative, huge) for other columns

In [223]:
for col in ['num_bank_accounts', 'num_credit_card', 'num_of_loan', 'interest_rate']:
    df.loc[(df[col] < 0) | (df[col] > 50), col] = pd.NA

In [225]:
num_cols = df.select_dtypes(include=["number"]).columns
num_cols

Index(['age', 'annual_income', 'monthly_inhand_salary', 'num_bank_accounts',
       'num_credit_card', 'interest_rate', 'num_of_loan',
       'delay_from_due_date', 'num_of_delayed_payment', 'changed_credit_limit',
       'num_credit_inquiries', 'outstanding_debt', 'credit_utilization_ratio',
       'total_emi_per_month', 'amount_invested_monthly', 'monthly_balance',
       'has_auto_loan', 'has_credit_builder_loan',
       'has_debt_consolidation_loan', 'has_home_equity_loan',
       'has_mortgage_loan', 'has_not_specified', 'has_payday_loan',
       'has_personal_loan', 'has_student_loan',
       'payment_behavior_high_spent_large_value',
       'payment_behavior_low_spent_large_value',
       'payment_behavior_high_spent_medium_value',
       'payment_behavior_low_spent_small_value',
       'payment_behavior_high_spent_small_value',
       'payment_behavior_low_spent_medium_value'],
      dtype='object')

In [227]:
df.to_csv("train.csv", index=False)